//Header
$headerHeightSmartphone: 75px;
$headerHeightTablet: 100px;
$headerHeightPC: 110px;

//Home
$textPosition: center;
$mainSectionSize: 50%;
$buttonColor: red;
$buttonHeight: 45px;
$buttonRatio: 5px;

